<!--CUADRANTE DEL HISTORIAL-->
<div id="cuadranteHistorial" class="text-center d-none">
    <h2>Historial de Partidas</h2>
    <table class="table table-striped " id="tablaHistorial">

      <thead>
        <tr>
          <th scope="col">Juego</th>
          <th scope="col">Categoría</th>
          <th scope="col">Aciertos</th>
          <th scope="col">Fallos</th>
          <th scope="col">Duración (seg)</th>
          <th scope="col">Nivel</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody id="bodyTablaHistorial">

      </tbody>
    </table>
  </div>