<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilosMainView.css">
    <link rel="stylesheet" href="../css/estilosJuegos.css">

    <link rel="shortcut icon" href="../images/cerebroSentado.jpg">
    <title>NeuroTask</title>
</head>

<body class="fondo">
    <header class="container fondocabecera justify-content-center ">
        <!-- Aqui comienza el contenedor que contiene el logo y el texto de la cabecera  -->
         <%-include('cabecera.ejs')%>

    </header>

    <body>
        
        <main>
            <div class = "container mt-3 ventanaJuego" id="contJuego"></div>  <!--Este div contiene el juego en phaser-->

        </main>

        <section>
            <div class="container alert mt-3 infoJuego sombras rounded" >
                <%=juego.descripcion%>
            </div>
        </section>

        <script src="javascripts/phaser.min.js"></script>
        
        <script type="module">
            import { arranque } from "../javascripts/src/init.js";
            arranque("<%=juego.id%>");
        </script>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</body>

</html>