.sombraBotonAdmin{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.botonesAdmin{
    font-size: large;
}

.imagenListada{
    max-width: 100px;
}

.fondoCalendario{ /*colo de fondo del calendario*/
    background-color: #fdbce6;
    
}

.azulClaro{
    background-color: #BDECF7;
}

.grisClaro{
    background-color: #E2E3E5;
}

textarea{
    max-height: 200px;
}

canvas {
    max-width: 100%;
    margin: auto;
    display: block;
}

/**/
