.ventanaJuego {
    border-radius: 10px;
    /* Ajusta este valor según tus preferencias */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#contJuego {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/fondoRosa.png');
    /* Ruta de tu imagen */
    background-size: cover;
    /* Para cubrir todo el contenido del div */
    background-position: center;
}

#juegoLenguaje {
    position: absolute;
    z-index: 2;
    background-image: url('/images/fondoRosa.png');
    /* Ruta de tu imagen */
    background-size: cover;
    /* Para cubrir todo el contenido del div */
    background-position: center;
}

.bombilla {
    max-width: 30%;
}

.fondoBlanco {
    background-color: rgba(255, 255, 255, 0.5);
}

canvas {
    position: absolute;
    z-index: 1;
}

.infoJuego {
    background-color: hsl(197, 100%, 65%);
    font-weight: bold;
}

.botonPalabra {
    font-size: 30px;
}

.btnDificultad {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.btnDificultad img {
    object-fit: contain;
    max-width: 60%;
}

#ventanaDificultad {
    position: absolute;
    z-index: 2;
    background-image: url('/images/fondoRosa.png');
    /* Ruta de tu imagen */
    background-size: cover;
    /* Para cubrir todo el contenido del div */
    background-position: center;
}

#ventanaSimonDice {
    position: absolute;
    z-index: 2;
    background-image: url('/images/fondoRosa.png');
    /* Ruta de tu imagen */
    background-size: cover;
    /* Para cubrir todo el contenido del div */
    background-position: center;
}

#ventanaOrden {
    position: absolute;
    z-index: 2;
    background-image: url('/images/fondoRosa.png');
    /* Ruta de tu imagen */
    background-size: cover;
    /* Para cubrir todo el contenido del div */
    background-position: center;
}

.carta img {
    width: 63%;
}

@media (min-width: 1220px) {

    /* Cambia el tamaño en pantallas más grandes que 576px */
    .carta img {
        width: 50%;
        /* Porcentaje del ancho del contenedor */
    }
}

@media (max-width: 420px) {

    /* Cambia el tamaño en pantallas más grandes que 576px */
    .carta img {
        width: 90%;
        /* Porcentaje del ancho del contenedor */
    }
}

.sombra {
    filter: brightness(0.30);
}

.cubrirImagen {
    position: relative;
}

.carta {
    position: relative;
}

.cubrirImagen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.7);
    /* Color verde semitransparente */
    /* Mezcla el color de fondo con la imagen */
}

.numero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    /* Tamaño del número */
    color: rgb(255, 255, 255);
    /* Color del número */
    font-weight: bold;
}